<button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-plus"></span>
  <%= link_to ' Add New Question', new_teachers_question_path%>
</button>

<hr>
<br>

<div class="row">
  <div class="col-md-3">
    <label for="">Question</label>
    <%= @question.name %>
  </div>
  <div class="col-md-3">
    <label for="">Lesson</label>
    <%= @question.lesson.name %>
  </div>
  <div class="col-md-3">
    <label for="">Skill</label>
    <%= @question.lesson.skill.name %>
  </div>
  <div class="col-md-3">
    <label for="">Course:</label>
    <%= @question.lesson.skill.course.name %>
  </div>
</div>

<hr>

<button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-chevron-left"></span>
  <%= link_to ' Back ', teachers_questions_path %>
</button>
<button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-pencil"></span>
  <%= link_to ' Edit', edit_teachers_question_path %>
</button>
