<div class="row">
     <div class="col-md-12">
        <%= link_to 'Add Skill', new_skill_path, class: 'btn btn-info' %>
     </div>
</div>

<input name="buscador"> </input>

<div class="container">
  <h2>Select the course to Add the skill by course</h2>
  <p></p>
  <div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-info">Álgebra</a>
    <a href="#" class="btn btn-info">Geometría</a>
    <a href="#" class="btn btn-info">Geometría Ánalitica</a>
    <a href="#" class="btn btn-info">Cálculo Diferencial</a>
  </div>
</div>

<div></div>

<table class="col-md-6, table">
  <thead>
    <th>Name</th>
    <th>Lessons</th>
    <th>Course</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @skills.each do |s| %>
     <tr>
      <td><%= link_to s.name, skill_path(s) %></td>
      <td></td>
      <td><%= s.course.name %></td>
      <td><%= link_to 'Edit', edit_skill_path(s), class: 'btn btn-default' %></td>
      <td><%= link_to 'X', skill_path(s), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
