<nav class="navbar navbar-default">
  <div class="btn-group btn-group-justified"> 
    <div class="btn btn-link"><%= link_to 'COURSES', courses_path, class: 'btn btn-link' %></div>
    <div class="btn btn-link"><%= link_to 'SKILLS', skills_path, class: 'btn btn-link' %></div>
    <div class="btn btn-link"><%= link_to 'LESSONS', lessons_path, class: 'btn btn-link' %></div>
    <div class="btn btn-link"><%= link_to 'QUESTIONS', lessons_path, class: 'btn btn-link' %></div>
    <div class="btn btn-link"><%= link_to 'ANSWERS',  lessons_path, class: 'btn btn-link' %></div>
  </div>
</nav>

<br>

  <div class="btn-group btn-group-justified">
      <%= link_to 'New Skill', new_skill_path, class: 'btn btn-info' %>
  </div>

<br>
<br>

<table class="col-md-6, table">
  <thead>
    <th>Name</th>
    <th>Lessons</th>
    <th>Course</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @skills.each do |s| %>
     <tr>
      <td><%= link_to s.name, skill_path(s) %></td>
      <td></td>
      <td><%= s.course.name %></td>
      <td><%= link_to 'Edit', edit_skill_path(s), class: 'btn btn-default' %></td>
      <td><%= link_to 'X', skill_path(s), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
