
  <div class="btn-group btn-group-justified">
      <%= link_to 'New Skill', new_skill_path, class: 'btn btn-info' %>
  </div>

<br>
<br>

<table class="col-md-6, table">
  <thead>
    <th>Name</th>
    <th>Nº Lessons</th>
    <th>Course</th>
    <th><span class="glyphicon glyphicon-pencil"></span></th>
    <th><span class="glyphicon glyphicon-trash" ></span></th>
  </thead>
  <tbody>
    <% @skills.each do |s| %>
     <tr>
      <td><%= link_to s.name, skill_path(s) %></td>
      <td></td>
      <td><%= s.course.name %></td>
      <td><%= link_to 'Edit', edit_skill_path(s), class: 'btn btn-default' %></td>
      <td><%= link_to 'X', skill_path(s), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
