<nav class="navbar navbar-default">
  <div class="btn-group btn-group-justified"> 
    <div class="btn btn-link"><%= link_to 'COURSES', courses_path, class: 'btn btn-link' %></div>
    <div class="btn btn-link"><%= link_to 'SKILLS', skills_path, class: 'btn btn-link' %></div>
    <div class="btn btn-link"><%= link_to 'LESSONS', lessons_path, class: 'btn btn-link' %></div>
    <div class="btn btn-link"><%= link_to 'QUESTIONS', lessons_path, class: 'btn btn-link' %></div>
    <div class="btn btn-link"><%= link_to 'ANSWERS', lessons_path, class: 'btn btn-link' %></div>
  </div>
</nav>

<br>

  <div class="btn-group btn-group-justified">
      <%= link_to 'New Lesson', new_lesson_path, class: 'btn btn-info' %>
  </div>

<br>
<br>

<table class="col-md-6, table">
  <thead>
    <th>Name</th>
    <th>Skill</th>
    <th>Course</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @lessons.each do |l| %>
      <tr>
        <td><%= link_to l.name, lesson_path(l) %></td>
        <td><%= l.skill.name %></td>
        <td><%= l.skill.course.name %></td>
        <td><%= link_to 'Edit', edit_lesson_path(l), class: 'btn btn-default' %></td>
        <td><%= link_to 'X', lesson_path(l), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
