 
<button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
        <%= link_to ' Add New Lesson', new_lesson_path %>
</button>

<hr>
<br>

<div class="row">
   <div class="col-md-4">
      <label for="">Name</label>
        <%= @lesson.name %>
   </div>
   <div class="col-md-4">
      <label for="">Skill</label>
        <%= @lesson.skill.name %>
   </div>
   <div class="col-md-4">
      <label for="">Description</label>
        <%= @lesson.description %>
   </div>
</div>

<hr>

<button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span>
        <%= link_to ' Back', lessons_path %>
</button>
<button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-pencil"></span>
        <%= link_to ' Edit', edit_lesson_path %>
</button>