<nav class="navbar navbar-default">
  <div class="btn-group btn-group-justified"> 
    <div class="btn btn-link"><%= link_to 'COURSES', courses_path, class: 'btn btn-link' %></div>
    <div class="btn btn-link"><%= link_to 'SKILLS', skills_path, class: 'btn btn-link' %></div>
    <div class="btn btn-link"><%= link_to 'LESSONS', lessons_path, class: 'btn btn-link' %></div>
    <div class="btn btn-link"><%= link_to 'QUESTIONS', lessons_path, class: 'btn btn-link' %></div>
    <div class="btn btn-link"><%= link_to 'ANSWERS', lessons_path, class: 'btn btn-link' %></div>
  </div>
</nav>

<br>

  <div class="btn-group btn-group-justified" >
	  <%= link_to 'New Course', new_course_path, class: 'btn btn-info'%>
  </div>

<br>
<br>



<table class="col-md-6, table">
		<thead>
			<th>Name</th>
			<th>Code</th>
			<th></th>
		</thead>
		<tbody>
			
			<% @courses.each do |c| %>
			<tr>
				<td><%= link_to c.name, course_path(c) %></td>
				<td><%= c.code %></td>
				<td><%= link_to 'X', course_path(c), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'%></td>
			</tr>
			<% end %>
		</tbody>
	</table>
		
	</div>	
</div>
