<button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-plus"></span>
  <%= link_to ' Add New Skill', new_teachers_skill_path%>
</button>

<hr>
<br>

<div class="row">
  <div class="col-md-6">
    <label for="">Name</label>
    <%= @skill.name %>
  </div>
  <div class="col-md-6">
    <label for="">Course</label>
    <%= @skill.course.name %>
  </div>
</div>

<hr>

<button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-chevron-left"></span>
  <%= link_to ' Back', teachers_skills_path %>
</button>
<button type="button" class="btn btn-default">
  <span class="glyphicon glyphicon-pencil"></span>
  <%= link_to ' Edit', edit_teachers_skill_path %>
</button>
