<!DOCTYPE html>
<html>
<head>
  <title>Numx</title>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style type="text/css">
    nav {
      background-color: #00b0f0;
    }
    body {
      background-color: white;
    }
  </style>
</head>
<!-- NAVBAR -->
<body>
<nav class="navbar transparent navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NumX</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path, class: 'btn btn-link' %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li>
        <%= link_to('Salir', destroy_user_session_path, :method => :delete) %>        
      </li>
      <% else %>
      <li>
        <%= link_to('Ingresar', new_user_session_path, class: 'btn btn-link')  %>  
      </li>
      <% end %>      
    </ul>
  </div>
</nav>


<!-- END NAVBAR -->


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  <nav class="navbar navbar-default">
    <div class="btn-group btn-group-justified"> 
      <% if can? :read, Course %>
        <div class="btn btn-link"><%= link_to 'COURSES', courses_path, class: 'btn btn-link' %></div>
      <% end %>

      <% if can? :read, Skill %>
        <div class="btn btn-link"><%= link_to 'SKILLS', skills_path, class: 'btn btn-link' %></div>
      <% end %>


      <% if can? :read, Lesson %>
        <div class="btn btn-link"><%= link_to 'LESSONS', lessons_path, class: 'btn btn-link' %></div>
      <% end %>


      <% if can? :read, Question %>
        <div class="btn btn-link"><%= link_to 'QUESTIONS', questions_path, class: 'btn btn-link' %></div>
      <% end %>


      <% if can?(:read, Answer) %>
        <div class="btn btn-link"><%= link_to 'ANSWERS', answers_path, class: 'btn btn-link' %></div>
      <% end %>
    </div>
  </nav>
  <br>
 <% end %> 
  <%= yield %>
</body>
</html>
